.magic-button {
  background-image: radial-gradient(
                  circle at bottom,
                  theme("colors.accent.300") 0%,
                  theme("colors.accent.700") 100%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 1.2s ease;

  &:hover {
    background-position: left;

  }
}
