@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-primary {
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: theme("colors.primary.500");
  }
}
