[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ninja = "*"
django = "*"
pillow = "*"
django-cors-headers = "*"
pdfplumber = "*"
fastapi = "*"
aspose-words = "*"
pyjwt = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.11"
