.header-nav {
  .link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      border-radius: 100px;
      background-color: theme("colors.primary.500");
      transition: width 0.16s ease;
    }

    &.active,
    &:hover {
      &::after {
        width: 24px;
      }
    }
  }
}
